In [1]:
# github.com/echtr

In [2]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [3]:
url = "http://quotes.toscrape.com/"

In [4]:
html_text = requests.get(url).text
soup = bs(html_text, "lxml")

In [5]:
items = soup.find_all("div", class_="quote")
data = []

In [6]:
for i in range(len(items)):
    tags = items[i].find_all("a", class_="tag")
    data.append(
    [
        items[i].find("small").text,
        items[i].find("span").text,
        [x.text for x in tags]
    ]
    )
    # items[i].find()
    #item.find("span").text
    #item.find("small").text
    #tags = item.find_all("a", class_="tag")
    #print([x.text for x in tags])

In [7]:
data

[['Albert Einstein',
  '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
  ['change', 'deep-thoughts', 'thinking', 'world']],
 ['J.K. Rowling',
  '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
  ['abilities', 'choices']],
 ['Albert Einstein',
  '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
  ['inspirational', 'life', 'live', 'miracle', 'miracles']],
 ['Jane Austen',
  '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
  ['aliteracy', 'books', 'classic', 'humor']],
 ['Marilyn Monroe',
  "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
  ['be-yourself', 'inspirational']],
 ['Albert Einstein',
  '“Try not to become a man of success. Rather become a man of value.”',
  ['adulthood', 'success', 'value']],
 ['André Gide',
  '“It is better to be hated for what you are than to be loved for what you are not.”',
  ['life', 'love']],
 ['Thomas A. Edison',
  "“I have not failed. I've just found 10,000 ways that won't work.”",
  ['edison', 'failure', 'inspirational', 'paraphrased']],
 ['Eleanor Roosevelt',
  "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
  ['misattributed-eleanor-roosevelt']],
 ['Steve Martin',
  '“A day without sunshine is like, you know, night.”',
  ['humor', 'obvious', 'simile']]]

In [8]:
df = pd.DataFrame(data=data, columns=["Name", "Quote","Tags"])
df

,Name,Quote,Tags
0,Albert Einstein,“The world as we have created it is a process ...,"[change, deep-thoughts, thinking, world]"
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...","[abilities, choices]"
2,Albert Einstein,“There are only two ways to live your life. On...,"[inspirational, life, live, miracle, miracles]"
3,Jane Austen,"“The person, be it gentleman or lady, who has ...","[aliteracy, books, classic, humor]"
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","[be-yourself, inspirational]"
5,Albert Einstein,“Try not to become a man of success. Rather be...,"[adulthood, success, value]"
6,André Gide,“It is better to be hated for what you are tha...,"[life, love]"
7,Thomas A. Edison,"“I have not failed. I've just found 10,000 way...","[edison, failure, inspirational, paraphrased]"
8,Eleanor Roosevelt,“A woman is like a tea bag; you never know how...,[misattributed-eleanor-roosevelt]
9,Steve Martin,"“A day without sunshine is like, you know, nig...","[humor, obvious, simile]"

In [31]:
from collections import Counter
Counter([k for i in df["Tags"] for k in i])

Counter({'change': 1,
         'deep-thoughts': 1,
         'thinking': 1,
         'world': 1,
         'abilities': 1,
         'choices': 1,
         'inspirational': 3,
         'life': 2,
         'live': 1,
         'miracle': 1,
         'miracles': 1,
         'aliteracy': 1,
         'books': 1,
         'classic': 1,
         'humor': 2,
         'be-yourself': 1,
         'adulthood': 1,
         'success': 1,
         'value': 1,
         'love': 1,
         'edison': 1,
         'failure': 1,
         'paraphrased': 1,
         'misattributed-eleanor-roosevelt': 1,
         'obvious': 1,
         'simile': 1})

In [60]:
'inspirational' in df["Tags"]

False

In [65]:
df["inspiration" in df["Tags"]]

KeyError: False

In [64]:
df["Tags"] = df["Tags"].astype("str") 
df["Tags"].dtype

dtype('O')

In [66]:
df.loc[df["Tags"].str.contains("inspiration")]

,Name,Quote,Tags
2,Albert Einstein,“There are only two ways to live your life. On...,"['inspirational', 'life', 'live', 'miracle', '..."
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","['be-yourself', 'inspirational']"
7,Thomas A. Edison,"“I have not failed. I've just found 10,000 way...","['edison', 'failure', 'inspirational', 'paraph..."